body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: #f8f8f8;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.resultado {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
